.login_page_container {
    height: 90vh;
}

.sing_in_container {
    margin: auto;
    padding-top: 40px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    h3 {
        text-align: center;
        margin: 0;
        font-size: 30px;
    }
}

.submit_btn_container {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.error_message {
    text-align: center;
    color: red;
}
